body {
    background-color: azure;
    
}
*{
    text-decoration: none;
}

.navdiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
    

}
.logo a{
    font-size:2em;
    font-family:'Time New Roman';
    color:black;
    
}

.navdiv li {
    font-family:Times;
    font-size:1.5em;
    display:inline-block;
    padding-left: 15px;
    color: black;
}
.navdiv li a{
    color:pink;
}
.navdiv li:hover a{
    font-size:1.501em;
    color: black;
}

.logo a:hover{
    font-size:2.1em;
    background-color:rgb(241, 193, 201);
}
